{% extends 'Course/course_shablon/course_shablon.html' %}
{% load static %}

<!-- что будет на курсе......-->

	{% block theory %}
		{% if title == "Effect Stories" or title == "Основы графического дизайна" or title == "Сценарная мастерская"  %}
			<ul>
				<li>
					Подробный разбор 
					теории, инструментов, 
					стилей оформления 
					и приложений.
				</li>

				<li>
					Правила съемки
				 	и построение кадра.
				 </li> 

				<li>
					Продажи через
					сторис и портфолио
					сторисмейкера.
				</li>
			</ul>

		{% elif title == "Актуальное SEO для начинающих" %}
			<ul>
				<li>
					Курс подготовлен практиками - специалистами действущей
					 веб-студии.
				</li>

				<li>
					Никакой воды и само
					пиара. Только нужная
					и полезная информация.
				</li>			
			</ul>

		{% elif title == "Копирайтинг для инстаграм" %}
			<ul>

				<li>
					Время обучения 1
				 	месяц (5 модулей).
				</li>

				<li>
					Подробный разбор
					теории, инструментов.
				</li>

				<li>
					Основа постов для 
					соцсетей - от эмоций
					до глубины.
				</li>
			</ul>

		{% elif title == "Творческая лаборатория" %}
			<ul>
				<li>Подготовка к работе.</li>

				<li>
					Обзор програмных
					интерфейсов. 
				</li>

				<li>
					Инструменты
					монтажа.
				</li>
			</ul>

		{% endif %}
	{% endblock %}


	{%block practice%}

		{% if title == "Effect Stories" or title == "Основы графического дизайна" or title == "Сценарная мастерская"  %}
			<ul>
				<li>Видеоуроки.</li>

				<li>
					Переходы в видео,
					монтаж.
				</li>

				<li>
					Обзор приложений 
					для монтажа, 
					обработки фото, 
					видео, сторис.
				</li>

				<li>
					Оформление сторис 
					и работа со 
					шрифтами.
				</li>
			</ul>

		{% elif title == "Актуальное SEO для начинающих" %}
			<ul>
				<li>
					Видеоуроки. <br>
					8 роликов от 6 до 15
					минут.
				</li>

				<li>
					Иллюстрирование 
					материала скриншотами и записями
					экрана. 
				</li>

				<li>
					Ссылки на все упомянутые в видео сервисы и примеры работ.
				</li>
			</ul>

		{% elif title == "Копирайтинг для инстаграм" %}
			<ul>
				<li>Видеоуроки.</li>

				<li>
					Разные виды постов
					для разных целей. 
				</li>

				<li>
					Посты на доверие 
					с триггерами и 
					крючками.
				</li>

				<li>
					Вирусные посты - 
					от конкурсов до 
					розыгрышей.
				</li>

				<li>
					Работа с подогревом 
					аудитории - посты 
					и длинные тексты.
				</li>
			</ul>

		{% elif title == "Творческая лаборатория" %}
			<ul>
				<li>Работа со звуком.</li>

				<li>Эффекты и переходы.</li>

				<li>Цветокоррекция.</li>

				<li>
					Специальные 
					технологии Premiere.
				</li>

				<li>
					Вопросы рендера 
					и экспорта.
				</li>

				<li>Настройки Premiere.</li>

				<li>Заключение и бонусы.</li>
			</ul>

		{% endif %}
	{% endblock %}



	{%block online%}
		<ul>
			<li>
				Обучение проходит 
				на платформе,
				доступной с 
				приложения телефона 
				 и с компьютера.
			</li>

			<li>
				Проходить курс 
				можно в удобное 
				для вас время.

			</li>
		</ul>
	{% endblock %}



	{%block telegram%}
		<ul>
			<li>			
				Проверка ДЗ 
				осуществляется 
				кураторами курса 
				и возможна только 
				на тарифе "Профи 
				и Вершитель".
			</li>
		</ul>
	{% endblock %}



<!-- преподы -->

{% block words %}
	{% if title == "Effect Stories"%}
	«Я хочу, чтобы каждый из вас посмотрел на сторис с другой стороны. Этот курс не просто про красивое оформление. Вы поймете для чего снимать сторис, какой контент транслировать, как сблизиться со своей аудиторией и делать продажи!»


	{% elif title == "Актуальное SEO для начинающих"%}
	"Всем привет! Меня зовут Николай Полушкин. Более 10 лет я возглавляю веб-студию «DIUS» и являюсь постоянным автором и спикером форумов портала Biz360.ru и экспертом таких СМИ как «Комсомольская правда», «Бизнес.ру», журнала «Контур» и многих других."

	{% elif title == "Основы графического дизайна"%}
	"Денис, просто хороший парень и весьма неплохой графический дизайнер, в сфере уже более 7 лет. После 5 лет практики на фрилансе я стал преподавать основы графического дизайна людям в оффлайн формате, большой опыт живого общения со студентами
	улучшил мои навыки коммуникации и подачи материала. Программа также шлифовалась на протяжении 2х лет. Я остаюсь практикующим дизайнером, что позволяет мне делиться прикладными знаниями, а не сухо обучать работе с инструментами. Я внимателен
	к деталям и в моей программе много нюансов и лайфхаков, которые быстро помогут
	новичкам освоится и чувствовать себя уверенно. Помимо самих программ я даю базовые знания о дизайне, композиции, типографике и цветах. Будет интересно. Увидимся на курсе."


	{% elif title == "Копирайтинг для инстаграм"%}
	«Если вы не умеете писать посты, то как бы вы не продвигали свои страницы в инстаграме или не пытались здесь заработать - все тщетно. Копирайтинг для Instagram - это основа, фундамент для успешного развития и продвижения. Крутые блогеры-миллионники нанимают людей, которые пишут им потрясающие посты, и набирают сотни тысяч лайков, репостов и комментариев. Современный копирайтинг для соцсетей - креативный, нестандартный, но глубокий и чувственный, эмоциональный. Я могу вас этому научить.»

	{% elif title == "Сценарная мастерская"%}

	«Дорогой мой начинающий кинематографист!
	<br><br>
	Сценарист ты, режиссёр или ещё не определился, не важно. Важно любить всем сердцем кино и понимать, что создание картины - это не только удовольствие, но и огромный труд. 
	Труд можно облегчить, если знать формулу, законы драматургии. <br><br>
	Условия рынка, потребности различных кинокомпаний - все это важные знания для монетизации своего любимого дела. Размер гонорара на различный продукт для начинающих
	и специалистов категории «А», чтобы ты знал сколько просить и на какие суммы
	соглашаться. <br>
	Помогу найти команду единомышленников для съёмок своего первого короткого метра. 
	До встречи на курсе!»


	{% elif title == "Творческая лаборатория" %}

	«Привет, меня зовут Илья Зернов. Я занимаюсь производством видео. Работаю в этой сфере более 10 лет. И уже 7 лет преподаю в ведущих киношколах Москвы. <br><br>

    Мы создали творческую мастерскую для тех, кому нужна полная и систематизированная информация по продуктам Adobe. Добро пожаловать в волшебный мир видеомонтажа!»

	{%endif%}
{% endblock %}