{% extends 'Course/course_shablon/course_shablon.html' %}
{% load static %}

{%block description%}

<link rel="stylesheet" href="{% static 'Course/Tik-Tok/Tik-Tok.css'%}">
	<div class="Tik_Tok_description_flex">
		<div>
			<ul>
				<li>
					Успешно продвигаем и <br>
					монетизируем через Tik-Tok <span>3 <br> 
					своих собственных бизнеса.</span>
				</li>
				<li>
					Знаем всю внутрянку и <br> 
					алгоритмы Tik-Tok, так как <br>
					проходили более 5 курсов и <br> 
					<span>личное менторство у блогеров.</span>
				</li>
				<li>
					У нас обучаются <span>одновременно <br> 
					более 70 учеников</span> с разными <br>  
					бизнесами и нишами.
				</li>
			</ul>
		</div>

		<div>
			<ul>
				<li>
					Занимаемся репетиторством <br>
					с абитуриентами киновузов <br>
					около 5 лет.
				</li>
				<li>
					Мы создали 2 своих авторских <br>
					курса:  <span>«400 бесплатных заявок <br>
					из Tik-Tok в свой бизнес», <br>
					«Менеджер Tik-Tok аккаунта».</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block words %}

"Мы онлайн - предприниматели, уже более 4 лет зарабатываем только через социальную сеть Инстаграм. Но Мы понимаем что в Инстаграм просто не успели, не разглядели вовремя и упустили шанс стать большими блогерами и монетизироваться БЕСПЛАТНО! сейчас ТИКТОК - это Тренд! И именно те, кто не успел занять свою нишу в Инстаграм- бегут именно на площадку ТИКТОК. Мы сами успешно ведём свои личные блоги в ТТ и понимаем, что сейчас на рынке, острая нехватка SMM-специалистов и Менеджеров Экспертных ТИКТОК аккаунтов, именно на эту профессию будущего и нацелен наш курс"


{% endblock %}
