{% extends 'shablon__home/shablon__home.html' %}
{% load static %}

{%block link%}
<link rel="stylesheet" href="{% static 'Course/404/404.css'%}">
{%endblock%}

{%block title%}
Курс не найден
{%endblock%}




{%block content%}
<div class="container__404">
	<div class="container__404__block__2">
		<div class="text__404">
			Ошибка 404
		</div>

		<div class="container__404__content__flex">
			<div>
				<div class="logo__404">
					<img src="{% static 'img/Course/logo.svg'%}" alt="">
				</div>

				<div class="content__404">
					Вебинар <br>
					не найден!
				</div>

				<div class="button__404">
					<a href="{% url 'home' %}">
						Вернуться на сайт
					</a>
					
				</div>
			</div>


			<div class="content__img">
				<img width="100%" src="{% static 'img/Course/course__404.svg'%}" alt="">
			</div>
			
		</div>
	</div>

	<div class="container__404__block__3">
		<div class="logo__404">
			<img src="{% static 'img/Course/logo.svg'%}" alt="">
		</div>
		<div class="content__404">
					Вебинар <br>
					не найден!
		</div>

		<div class="text__404__0">
			<div class="text__404">
				Ошибка <br> 404
			</div>
		</div>

		<div class="content__img">
			<img width="100%" src="{% static 'img/Course/course__404.svg'%}" alt="">
		</div>

		<div class="button__404">
			<a href="{% url 'home' %}">
				Вернуться на сайт
			</a>	
		</div>
	</div>
</div>

{%endblock%}